---
 const personalImageAlt = "Abel Alarcón"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Abel Alarcón. Empecé en la
      programación durante la pandemia en el año 2022, despues de escuchar y ver videos sobre dibulgadores de la programación. Actualmente estoy <strong
        >desarrollando proyectos propios</strong
      >.
    </p>

    <p>
      Algunos de mis éxitos incluyen <strong
        >colaboraciones en páginas web y apps moviles</strong
      >. Aunque hoy programo mas Back-End, se desenvolverme en los demás ámbitos y siempre estoy en constante aprendizaje.
    </p>

    <p>
      Como desarrollador, <strong
        >siempre estoy enfocado en la calidad y el rendimiento de el producto</strong
      >. Mi objetivo es mejorar y encontrar un equipo donde pueda colaborar con mis conocimientos y trabajar en equipo.
    </p>
  </div>

  <img width="200" height="200" src="src/assets/abel.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>

